@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply overflow-x-hidden
}

button{
    @apply px-5 py-2.5 text-sm
}

input{
    @apply outline-none
}

/* styles/globals.css */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* styles/globals.css */
input[type="radio"]:checked + label {
    color: orange;
  }